<!DOCTYPE html>
<html lang="en">



<body>

<nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">AGROFY INFO</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<header class="masthead text-center text-white">
  <div class="masthead-content">
    <div class="container">
      <h1 class="masthead-heading mb-0">Agrofy</h1>
      <h2 class="masthead-subheading mb-0">Things farmers need to know before farming and during harvesting.</h2>
      <a href="#" class="btn btn-primary btn-xl rounded-pill mt-5">The Farmer advisor</a>
    </div>
  </div>
  <div class="bg-circle-1 bg-circle"></div>
  <div class="bg-circle-2 bg-circle"></div>
  <div class="bg-circle-3 bg-circle"></div>
  <div class="bg-circle-4 bg-circle"></div>
</header>

<section>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 order-lg-2">
        <div class="p-5">
          <img class="img-fluid rounded-circle" src="assets/06.jpg" alt="">
        </div>
      </div>
      <div class="col-lg-6 order-lg-1">
        <div class="p-5">
          <h2 class="display-4">WRITE A BUSINESS PLAN</h2>
          <p>Create a formal statement of your business goals. Include the reasons they are attainable and your plans for reaching them. (A budget is not the same thing as a business plan.) Know and respect your customers and your competition. Prepare for the worst. If you partner with your brother and something happens to him, could your farm business survive?

            Do a SWOT analysis to measure your strengths, weaknesses, opportunities, and threats.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="p-5">
          <img class="img-fluid rounded-circle" src="assets/02.jpg" alt="">
        </div>
      </div>
      <div class="col-lg-6">
        <div class="p-5">
          <h2 class="display-4">Recruit Talent By Highlighting That There’s More To Farming Than Digging In The Dirt</h2>
          <p>Some panelists pointed out another way future leaders can address the declining workforce: showing people that there is more to agriculture than being a farm worker. Humiston emphasized the need to engage citizens in science as robotics and drones become increasingly important to the industry. Smith added that the changing regulatory landscape of the last 15 years has led to a greater need for advocacy and in-house lawyers focused on agriculture.

            Regardless of the specialization or paygrade, familiarity with modern agricultural technology is a must, Smith said, pointing out how the tractors of his childhood are being replaced by “half-million dollar” harvesting machines. “You’re no longer changing filters and turning bolts,” he said. “You have to pick up a computer and do a diagnostic.”

          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 order-lg-2">
        <div class="p-5">
          <img class="img-fluid rounded-circle" src="assets/04.jpg" alt="">
        </div>
      </div>
      <div class="col-lg-6 order-lg-1">
        <div class="p-5">
          <h2 class="display-4">CUT COSTS</h2>
          <p>
            Revise your scale of variable and fixed costs. Visit with your agronomist, lender, tax adviser, and crop insurance agent. Be very careful with new capital expenditures. Renegotiate land rent. Seek volume discounts in seeds and chemicals. Offload unproductive assets. Extend repayment schedules on equipment and real estate loans, if possible.

            “You’ll hear what your peers and neighbors are doing to cut costs,” says Horne. “Listen to that, but create your own plan.”</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 order-lg-2">
        <div class="p-5">
          <img class="img-fluid rounded-circle" src="assets/01.jpg" alt="">
        </div>
      </div>
      <div class="col-lg-6 order-lg-1">
        <div class="p-5">
          <h2 class="display-4">Use Technology To Be Proactive, Not Reactive</h2>
          <p>
            The next generation of farming leaders can succeed by being cognizant of their workforce, and one way to do that is to apply technologies in educational ways, Humiston said. She noted that many farmers are shown new technologies, but not taught how to use them. Field days, workshops, and webinars are all useful ways for agricultural leaders to make the best use of their farmers, she said.

            Rotticci concurred with Humiston, noting that the best farming leaders of the future will know how to use technology to prevent a problem, not just react to it. Technology has the potential to “drive a lot of cost out of all of our operations” and replenish the labor force if utilized properly, he added.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 order-lg-2">
        <div class="p-5">
          <img class="img-fluid rounded-circle" src="assets/05.jpg" alt="">
        </div>
      </div>
      <div class="col-lg-6 order-lg-1">
        <div class="p-5">
          <h2 class="display-4">PERSEVERE</h2>
          <p>Economic turbulence brings opportunity.
            “Use your idle time to plan,” advises Horne. “The best way to get better at planning is to do it often. Plus, running this drill will help you stay sharp.”
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 order-lg-2">
        <div class="p-5">
          <img class="img-fluid rounded-circle" src="assets/03.jpg" alt="">
        </div>
      </div>
      <div class="col-lg-6 order-lg-1">
        <div class="p-5">
          <h2 class="display-4">Lead With Both Innovative Tech And Old School Skills</h2>
          <p>As technology permeates agriculture, future industry leaders must be digitally literate. But that doesn’t mean they can throw traditional leadership skills out the window, according to Smith. Communicating well and listening are imperative, he said, “especially in this world where everything is on 24/7.” With so many innovations entering the agriculture world, the industry needs problem-solvers to make the best use of them, he said.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 order-lg-2">
        <div class="p-5">
          <img class="img-fluid rounded-circle" src="assets/07.jpg" alt="">
        </div>
      </div>
      <div class="col-lg-6 order-lg-1">
        <div class="p-5">
          <h2 class="display-4">GET ALONG WITH YOUR FAMILY</h2>
          <p>There’s nothing worse for a farm than family members who don’t speak to each other. Communicate about finances with your spouse and business partners (as well as lenders, tax accountants, and financial advisers) before there is a problem.

            A simple, sharable business and financial plan will keep your family and close business partners up to speed on your goals.

            “It’s hard for them to be supportive when they’re not informed,” says Horne.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<footer class="py-5 bg-black">
  <div class="container">
    <p class="m-0 text-center text-white small">Copyright &copy; AGROFY 2019</p>
    <p class="m-0 text-center text-white small"> FOR MORE DETAILS CONTACT US....</p>

  </div>

</footer>

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>

